Syed Imran Yousaf
2530-4025

In [16]:

install.packages("rvest")
install.packages("dplyr")

library(rvest)
library(dplyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [17]:
url <- "https://www.worldometers.info/world-population/population-by-country/"
page <- read_html(url)

In [18]:
tables <- page %>% html_table(fill = TRUE)

length(tables)

[1] 1

In [19]:
population_data <- tables[[1]]

In [20]:
nrow(population_data)
head(population_data)
tail(population_data)

[1] 233

  # Country (or dependency) Population 2025 Yearly Change Net Change
1 1 India                   1,463,865,525   0.89%         12,929,734
2 2 China                   1,416,096,094   −0.23%        −3,225,184
3 3 United States           347,275,807     0.54%         1,849,236
4 4 Indonesia               285,721,236     0.79%         2,233,305
5 5 Pakistan                255,219,554     1.57%         3,950,390
6 6 Nigeria                 237,527,782     2.08%         4,848,304
  Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Median Age
1 492             2,973,190       −495,753       1.94       28.8
2 151             9,388,211       −268,126       1.02       40.1
3 38              9,147,420       1,230,663      1.62       38.5
4 158             1,811,570       −39,509        2.10       30.4
5 331             770,880         −1,235,336     3.50       20.6
6 261             910,770         −15,258        4.30       18.1
  Urban Pop % World Share
1 37.1%       17.78%
2 67.5%       17.20%
3 82.8%       4.22%
4 59.6%       3.47%
5 34.4%       3.10%
6 54.9%       2.89%

  #   Country (or dependency) Population 2025 Yearly Change Net Change
1 228 Saint Helena            5,197           −0.76%        −40
2 229 Montserrat              4,359           −0.68%        −30
3 230 Falkland Islands        3,469           −0.03%        −1
4 231 Tokelau                 2,608           4.07%         102
5 232 Niue                    1,821           0.11%         2
6 233 Holy See                501             1.01%         5
  Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Median Age
1 13              390             1              1.64       50.9
2 44              100             −9             1.45       41.6
3 0               12,170          −17            1.70       42.8
4 261             10              53             2.57       27.3
5 7               260             3              2.46       35.7
6 1,253           0               13             1.00       57.4
  Urban Pop % World Share
1 33.4%       0.000063%
2 11.5%       0.000053%
3 68%         0.000042%
4             0.000032%
5 44.5%       0.000022%
6             0.0000061%

In [21]:
colnames(population_data) <- c(
  "Rank", "Country", "Population", "Yearly_Change",
  "Net_Change", "Density", "Land_Area",
  "Migrants", "Fertility_Rate",
  "Median_Age", "Urban_Population",
  "World_Share"
)

In [22]:
head(population_table)

  # Country (or dependency) Population 2025 Yearly Change Net Change
1 1 India                   1,463,865,525   0.89%         12,929,734
2 2 China                   1,416,096,094   −0.23%        −3,225,184
3 3 United States           347,275,807     0.54%         1,849,236
4 4 Indonesia               285,721,236     0.79%         2,233,305
5 5 Pakistan                255,219,554     1.57%         3,950,390
6 6 Nigeria                 237,527,782     2.08%         4,848,304
  Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Median Age
1 492             2,973,190       −495,753       1.94       28.8
2 151             9,388,211       −268,126       1.02       40.1
3 38              9,147,420       1,230,663      1.62       38.5
4 158             1,811,570       −39,509        2.10       30.4
5 331             770,880         −1,235,336     3.50       20.6
6 261             910,770         −15,258        4.30       18.1
  Urban Pop % World Share
1 37.1%       17.78%
2 67.5%       17.20%
3 82.8%       4.22%
4 59.6%       3.47%
5 34.4%       3.10%
6 54.9%       2.89%

In [23]:
population_data <- as.data.frame(population_table)

colnames(population_data) <- c(
  "Rank", "Country", "Population", "Yearly_Change",
  "Net_Change", "Density", "Land_Area",
  "Migrants", "Fert_Rate", "Med_Age",
  "Urban_Pop", "World_Share"
)

head(population_data)

  Rank Country       Population    Yearly_Change Net_Change Density Land_Area
1 1    India         1,463,865,525 0.89%         12,929,734 492     2,973,190
2 2    China         1,416,096,094 −0.23%        −3,225,184 151     9,388,211
3 3    United States 347,275,807   0.54%         1,849,236  38      9,147,420
4 4    Indonesia     285,721,236   0.79%         2,233,305  158     1,811,570
5 5    Pakistan      255,219,554   1.57%         3,950,390  331     770,880
6 6    Nigeria       237,527,782   2.08%         4,848,304  261     910,770
  Migrants   Fert_Rate Med_Age Urban_Pop World_Share
1 −495,753   1.94      28.8    37.1%     17.78%
2 −268,126   1.02      40.1    67.5%     17.20%
3 1,230,663  1.62      38.5    82.8%     4.22%
4 −39,509    2.10      30.4    59.6%     3.47%
5 −1,235,336 3.50      20.6    34.4%     3.10%
6 −15,258    4.30      18.1    54.9%     2.89%